<%- include ('partials/header.ejs') -%>

<div class="container-fluid home-div">
    <h1>Home Page</h1>

    <a href="/blogs/" class="btn btn-primary">View Blogs</a>
    <a href="/blogs/new" class="btn btn-primary">Create Blog</a>
</div>